// ============================
// Lightbox Styles
// ============================

#lightboxModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#lightboxModal.show {
    display: flex; /* Passe à flex pour rendre visible */
    opacity: 1;
    visibility: visible;
}
.lightbox-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    z-index: 2000;
}

.lightbox-photo img {
    text-align: center;
    max-height: 700px;

    object-fit: cover;
    top: 50%;
}
.lightbox-hero {
    padding: 0;
    margin: 0;
}
.lightbox-content {
    color: white;
    border-radius: 0;
}
.photo-reference {
    margin-right: auto;
}
.lightbox-content .prev,
.lightbox-content .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-family: 'Space Mono';
    font-weight: 400;
    line-height: 18px;
    font-size: 12px !important;
    cursor: pointer;
    z-index: 2000;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: none !important;
}
.lightbox-content .prev:hover,
.lightbox-content .next:hover {
    font-weight: 700;
}


.lightbox-photo {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 21px;
    font-size: 14px !important;

}

/* Conteneur principal des informations */
.lightbox-info {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center;    /* Centre horizontalement */
    width: 100%;
    padding: 0;
    margin: 0;
    height: 70px !important;
}

/* Conteneur interne pour aligner les infos */
.lightbox-info .info-wrapper {
    display: flex; /* Active le mode ligne */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

/* Style pour la référence */
.lightbox-info .reference {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
}

/* Style pour la catégorie */
.lightbox-info .category {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    text-transform: uppercase;
    line-height: 21px;

}

.lightbox-photo-title {
    font-size: 18px;
    font-family: 'Space Mono';
    text-align: center;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    height: 30px;
}

#lightbox-ref-cat {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 40px;
}

/* Flèches de navigation */

.lightbox-content .prev {
    left: 20px;
    color: white;
}

.lightbox-content .next {
    right: 30px;
    color: white;
}

.lightbox-content .prev span,
.lightbox-content .next span {
    font-size: 12px !important;
    text-transform: none;
    color: white !important;
}


/* Styles pour les boutons précédent et suivant */
.lightbox-content .prev,
.lightbox-content .next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    transition: font-weight 0.3s ease;
}

/* Flèche */
.lightbox-content .prev img,
.lightbox-content .next img {
    width: 25px;
    height: auto;
    transition: transform 0.3s ease;
}

/* Effet au survol */
.lightbox-content .prev:hover img,
.lightbox-content .next:hover img {
    transform: scale(1.2); /* Agrandissement léger de la flèche */
}
