// ============================
// Header and Footer Styles
// ============================


.site-header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
}
.logo {
    width: 245px;

}
