// ============================
// Photoblock Styles
// ============================

@use '../base/_globals' as *;

/* Style des filtres */

.photoblock-filters {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.photoblock-filters select {
    padding: 10px;
    font-size: 16px;
}

/* Style de la galerie de photos */
.photoblock-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.photoblock-item {
    text-align: center;
}

.photoblock-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.photoblock-item h3 {
    font-size: 18px;
    margin-top: 10px;
}
