// ============================
// Responsive Mobile Styles
// ============================

@media (max-width: 376px) {
    .home {
        width: 375px !important;
        height: 100%;
    }

    .items-photo h2 {
        font-size: 46px !important;
        font-weight: 400;
        line-height: 48px;
    }

    main,
    .block-image-and-info,
    .container-single {
        width: 375px !important;
    }

    .container p {
        width: 318px !important;
    }

    H1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 41px;
    }

    H2 {
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
    }

    H3 {
        font-size: 27px;
        font-weight: 400;
        line-height: 27px;
    }

    /* ====== Header ====== */
    .site-header {
        width: 375px !important;
        margin: 0;
    }

    header {
        width: 375px !important;
        height: 72px;
        align-content: center;
        margin-bottom: 40px;
    }

    .logo {
        width: 138px;
        padding-left: 40px;
    }

    /* ======= Menu Burger ======= */
    .nav-container {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
        top: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30px;
        height: 30px;
        padding-right: 40px;
        cursor: pointer;
    }

    .burger-menu div {
        width: 100%;
        height: 4px;
        background-color: black;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Style actif pour l'animation du menu burger */
    .burger-menu.active div:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .burger-menu.active div:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active div:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    /* Afficher le menu burger déroulant */
    .menu-overlay {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background: #E00000;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 812px;
        width: 375px;
    }

    .menu-overlay.active {
        display: flex;
    }

    .menu-overlay a {
        color: white;
        text-decoration: none;
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 44px;
        text-transform: uppercase;
    }
    .menu-overlay ul,
    .mobile-menu ul {
        list-style: none;
        text-align: center;
        padding: 0%;
        margin: auto;
        line-height: 65px;
    }

    /* ====== Block Image and Infos ====== */
    .block-title-image {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .featured-image {
        width: 100%;
        height: auto;
        order: -1;
    }

    .featured-image img {
        width: 265px !important;
        margin: auto;
        height: auto;
        display: block;
        object-fit: cover;
        max-width: 318px;
    }

    .items-photo {
        margin: auto;
        text-align: left;
        order: 1;
        width: 265px !important;
        border: none;
        padding-bottom: 20px;
    }

    .block-info-photo {
        justify-content: center;
        margin: auto;
        padding-bottom: 20px;
    }

    /* ======= Block Contact ======= */
    .navigation-links {
        display: none !important;
    }

    .contact-button {
        display: flex !important;
        flex-direction: column !important;
        align-items: left !important;
        height: auto;
        margin: auto !important;
        width: 100% !important;
        padding-left: 50px;
    }

    .block-contact {
        padding-top: 20px;
        padding-bottom: 30px;
        border-top: black 1px solid;
        height: auto;
    }
    .block-contact > p {
        text-align: left;
        font-size: 14px;
        line-height: 21px;
        max-width: 375px !important;
        height: 118px;
    }

    .open-modal {
        margin: 0 !important;
        gap: 0 !important;
        width: 263px !important;
        height: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
    }

    .modal-content .close {
        display: none !important;
    }

    #myModal {
        position: absolute;
        width: 100vw;
        height:100%;
        margin: 0;
        width: 375px !important;
    }

    .modal-overlay {
        position: fixe;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 999;
    }

    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        max-width: 90%;
        width: 286px;
        height: auto;
        overflow: hidden;
        padding-top: 0;
    }

    .modal-hero {
        height: 55px;
        width: 190%;
        margin-bottom: 0;
    }

    /* ======= Lightbox ======= */
    #lightboxModal {
        top: 0;
        left: 0;
        width: 375px;
    }

    .lightbox-content {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        z-index: 2000;
    }

    .lightbox-content .close {
        display: none;
    }

    #lightboxModal .close {
        display: none;
    }

    .lightbox-photo img {
        max-width: 318px;
        top: 20%;
    }

    .lightbox-nav {
        position: absolute;
        top: -5%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2000;
        pointer-events: none;
    }

    .lightbox-nav button {
        pointer-events: all;
        background: none;
        border: none;
        color: white;
        font-family: 'Space Mono';
        font-size: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .lightbox-nav .prev {
        margin: 0;
        left: 0;
    }

    .lightbox-nav .next {
        margin: 0;
        right: 0;
    }

    /* ======= Footer ======= */
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -10px;
        height: 208px;
        position: relative;
    }

    .footer-container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 375px;
        padding: 0;
        max-height: 208px;
        margin: 0;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0;
    }

    .footer-nav li {
        text-align: center;
        line-height: 30px;
        height: 30px;
    }


    /* ======= HERO IMAGE =======*/
    .hero-image {
        height: 40vh;
    }

    .overlay-title {
        font-size: 16px;
        width: 90%;
    }

    /* ======= BOUTON "CHARGER PLUS" =======*/
    .button-load-more button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin: 10px 0;
    }

    .filters select {
        position: relative !important;
        opacity: 1 !important;
        z-index: 1 !important;
        pointer-events: auto !important;
    }

    /* ======= FILTRES =======*/

    .photo-filters {
        height: auto;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: stretch;
        width: 375px !important;
        height: auto;
        padding: 0%;
        margin: 0%;
    }

    #left-filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #right-filters {
        margin: auto;
        width: 260px;
        align-items: center;
        margin-top: -7px;
        margin-bottom: 0%;
        gap: 0%;
    }

    .select2-container .select2-selection--single {
        width: 100% !important;
    }

    /* ======= Block Like to - Affichage des photo-block ======= */
     .block-like-to > p {
        text-align: center;
        padding: 20px;
    }

    #like-too {
        margin-top: 40px;
        margin-bottom: 10px;
        font-family: 'Space Mono';
        font-family: 18px;
        font-weight: 400px;
        line-height: 10%;
    }
    .block-like-to {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 !important;
        max-width: 375px !important;
        height: auto;
        gap: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .photos-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin: 0 auto;
    }

    .photoblock-gallery {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 10px 0;
        gap: 10px;
    }

    .card-photo {
        position: relative;
        width: 318px;
        height: 279px;
        margin-top: 5px;
    }

    .card-photo img {
        width: 318px !important;
        height: 279px !important;
        object-fit: cover;
        display: block;
    }

    .photo-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .card-photo:hover .photo-overlay {
        opacity: 1;
    }

    .photo-reference,
    .photo-category {
        color: white;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        margin: 0;
    }

    .photo-reference {
        font-family: 'Poppins';
        font-weight: 500;
    }

    .photo-category {
        font-family: 'Space Mono';
        font-weight: 400;
    }

    .icon-fullscreen {
        position: absolute;
        top: 10px;
        left: 265px;
    }

    .icon-eye {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}